<div style="margin-top: 10px; " class="row">

        <h1 >Šis ir parauga jautājums, nākamie jautājumi būs analogim šim. <br/>
        </h1>
        <div class="clearfix"></div>
        <h3 >Izlasiet zemāk esošo tekstu, tad spiediet uz pogas 'Atbildēt uz jautājumu'  <br/></h3>
    
</div>
<div class="clearfix"></div>
<div style="height: 70%; margin-top: 5px;" class="row">
	<div id="textContainer">
		<p>Dzīvot Londonā un laiku pa laikam neaiziet <br/> uz Zooloģisko dārzu vispār nav iespējams. Bet <br/>vai visi māk to pareizi darīt? Daži <br/>sāk no sākuma, ko sauc par Ieeju, tad <br/>skrien, ko kājas nes, gar visiem būriem <br/>uz Izeju — un cauri ir. Prātīgs cilvēks <br/>iet tieši pie sava vismīļākā zvēra un <br/>paliek tur. Tāpēc arī Kristofers Robins, Zooloģiskajā <br/>dārzā nonācis, tūlīt dodas pie lāčiem.</p>
	</div>
	<div id="question" style="display: none;">
		<h4>Vai Kristofers Robins bija prātīgs cilvēks?</h4>
		<div class="col-sm-2">
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Jā" >
			<label class="form-check-label" for="exampleRadios1">
				Jā
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Nē" >
			<label class="form-check-label" for="exampleRadios2">
				Nē
			</label>
			</div>


			<div class="clearfix"></div>
			
		</div>
	</div>
	

</div>

<div class="row ">
    <button class="btn btn-primary" id="showQuestion">Atbildēt uz jautājumu</button>
	<button data-c="Jā" style="margin-top: 5px;display:none;" class="btn btn-primary" id="nextQuestionBtn">Sākt aptauju</button>
</div>


<div class="row ">
    
</div>
    
    
    

    