<div style="margin-top: 10px; " class="row">
        <h1>Paldies, tas arī viss, lūgums ievadīt Tavu vecumu un dzimumu, lai pabeigtu aptauju!</h1>
    
</div>
<div class="clearfix"></div>
<div style="margin-top: 5px;" class="row">

    <div class="clearfix"></div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="dzimums" id="exampleRadios1" value="virietis" >
        <label class="form-check-label" for="exampleRadios1">
            Vīrietis  
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="dzimums" id="exampleRadios2" value="sieviete" >
        <label class="form-check-label" for="exampleRadios2">
            Sieviete  
        </label>
        </div>


        <div class="clearfix"></div>
       
</div>


<div style="margin-top: 5px;" class="row">

    <label>Vecums</label>
    <input id="age" class="form-control" type="number">
       
</div>


</div>

<div class="row ">
        <button style="margin-top: 5px;" class="btn btn-primary" id="finishBtn">Pabeigt</button>
</div>
    
    
    
    
    