<div style="margin-top: 10px; " class="row">

    
</div>
<div class="clearfix"></div>
<div style="height: 70%; margin-top: 5px;" class="row">
	<div id="textContainer">
		<p>Pakaļkājas viņam gaisā, pakausis — bums! bums!— sitas <br/>pa kāpieniem, jo Kristofers Robins velk viņu <br/>aiz priekšķepas. Cik viņam zināms, nekādas citas iespējas tikt <br/>pa kāpnēm lejā nav, kaut gan reizēm <br/>liekas, ka ir un viņš šo iespēju <br/>atrastu, ja vien varētu kādu mirkli nebumsities <br/>un par to padomāt. Bet padomāt nevar — bums!<br/> bums!—tāpēc skaidrs, ka laikam nav vis.<br/> Šā vai tā, bet nu viņš ir lejā. <br/>Iepazīstieties ar Vinniju Pūku!</p>
	</div>
	<div id="question" style="display: none;">
		<h4>Kas tika vilkts pa kāpnēm?</h4>
		<div class="col-sm-2">
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Kristofers" >
			<label class="form-check-label" for="exampleRadios1">
				Kristofers
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Pūks" >
			<label class="form-check-label" for="exampleRadios2">
				Pūks
			</label>
			</div>


			<div class="clearfix"></div>
			
		</div>
	</div>

	
</div>

<div class="row ">
    <button id="showQuestion">Atbildēt uz jautājumu</button>
	<button data-c="Pūks" style="margin-top: 5px; display:none;" class="btn btn-primary" id="nextQuestionBtn">Tālāk</button>
</div>


