<div style="margin-top: 10px; " class="row">

    
</div>
<div class="clearfix"></div>
<div style="height: 70%; margin-top: 5px;" class="row">
	<div id="textContainer">
		<p>Vinnijs Pūks ļoti uzmanīgi izlasīja abas zīmītes: <br/>vispirms no kreisās uz labo, tad — katram <br/>gadījumam, ja viņš kaut ko būtu izlaidis,— arī <br/>no labās puses uz kreiso. Pēc tam, <br/>lai tā lieta būtu pavisam droša, viņš <br/>pieklauvēja un paraustīja riņķi, paklauvēja un paraustīja <br/>zvanu un vēl skaļi nokliedzās:— Pūce! Laid <br/>mani iekšā! Tas esmu es, lācis!— Tad <br/>durvis atvērās un uz sliekšņa parādījās Pūce.</p>
	</div>
	<div id="question" style="display: none;">
		<h4>Cik zīmītes Pūks izlasīja?</h4>
		<div class="col-sm-4">
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="2" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios1">
				2
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="1" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios2">
				1
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios3">
				3
			</label>
			</div>


			<div class="clearfix"></div>
			
		</div>
	</div>

	
</div>

<div class="row ">
    <button id="showQuestion">Atbildēt uz jautājumu</button>
	<button data-c="2" style="margin-top: 5px; display:none;" class="btn btn-primary" id="nextQuestionBtn">Tālāk</button>
</div>



