<div style="margin-top: 10px; " class="row">

    
</div>
<div class="clearfix"></div>
<div style="height: 70%; margin-top: 5px;" class="row">
	<div id="textContainer">
		<p>Vajag būt ļoti uzmanīgam. Vai tu negribi kaut <br/> ko uzkost? Ap vienpadsmitiem no rīta Pūkam parasti <br/> gribējās kaut ko uzkost. Viņš uzreiz kļuva <br/>priecīgāks, redzot, ka Trusītis liek galdā šķīvjus <br/>un podus. Kad Trusītis jautāja:— Ko tu <br/>ēdīsi pie maizes? Medu vai krējumu?— Pūks<br/> tā uztraucās, ka atbildēja:— Abus.— Lai neliktos<br/> pārāk badīgs, viņš piebilda:— Toties maizi man<br/> nevajag. Nerūpējies, lūdzu.</p>
	</div>
	<div id="question" style="display: none;">
		<h4>Pūks pusdienās ēdīs</h4>
		<div class="col-sm-4">
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Maizītes ar medu un krējumu" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios1">
				Maizītes ar medu un krējumu
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Medu ar krējumu" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios2">
				Medu ar krējumu
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Maizi" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios3">
				Maizi
			</label>
			</div>


			<div class="clearfix"></div>
			
		</div>
	</div>

	
</div>

<div class="row ">
    <button id="showQuestion">Atbildēt uz jautājumu</button>
	<button data-c="Medu ar krējumu" style="margin-top: 5px; display:none;" class="btn btn-primary" id="nextQuestionBtn">Tālāk</button>
</div>
