<div style="margin-top: 10px; " class="row">

    
</div>
<div class="clearfix"></div>
<div style="height: 70%; margin-top: 5px;" class="row">
	<div id="textContainer">
		<p>Sivēns atbildēja, ka tas esot viņa vectētiņa <br/>vārds un sens ģimenes īpašums. Kristofers Robins <br/>teica, ka neviens nevar saukties par Aizliegts V.<br/> bet Sivēns sacīja, ka var gan, jo <br/>tā saucies viņa vectēvs, un ka tas <br/>ir saīsinājums no Aizliegts Viilija, kas atkal<br/> ir saīsinājums no Aizliegts Viljama. Un ka, <br/>vectētiņam bijuši divi vārdi, ja viņš netīšām <br/>vienu pazaudētu,-- Aizliegts, par godu krusttēvam, un <br/>Viljams, par godu Aizliegtam.</p>
	</div>
	<div id="question" style="display: none;">
		<h4>Kas bija Aizliegts V?</h4>
		<div class="col-sm-4">
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Īpašums" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios1">
				Īpašums
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Kristofers" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios2">
				Kristofers
			</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Vectētiņs" >
			<label style="width: 250px;" class="form-check-label" for="exampleRadios3">
				Vectētiņs
			</label>
			</div>


			<div class="clearfix"></div>
			
		</div>
	</div>

	
</div>

<div class="row ">
    <button id="showQuestion">Atbildēt uz jautājumu</button>
	<button data-c="Vectētiņs" style="margin-top: 5px; display:none;" class="btn btn-primary" id="nextQuestionBtn">Tālāk</button>
</div>


